version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pantrypulse
    ports:
      - "5432:5432"
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  api:
    build: .
    environment:
      SPRING_PROFILES_ACTIVE: default
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
